@use 'variables' as v;


@mixin boton($bgColor, $colorTexto) {
	width: 100%;
	padding: .8rem 3.2rem;
	font-size: 1.6rem;
	display: inline-block;
	font-weight: 700;
	border: none;
	text-align: center;
	color: $colorTexto;
	background-color: $bgColor;
	transition-property: background-color;
	transition-duration: .3s;

	@media (min-width: 768px) {
		width: auto;

		&:hover {
			background-color: darken($bgColor, 10%);
		}
	}
}


@mixin support_bg($url, $use_png: false) {
	$url_image: if($use_png, "#{$url}.png", "#{$url}.jpg");
	$url_webp: "#{$url}.webp";
	$url_avif: "#{$url}.avif";

	background-image: url($url_image);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@supports (background-image: url($url_webp)) {
		background-image: url($url_webp);
	}

	@supports (background-image: url($url_avif)) {
		background-image: url($url_avif);
	}
}

@mixin titulo {
	text-align: center;
	margin-bottom: 2.4rem;

	@media (min-width: 768px) {
		margin-bottom: 4.8rem;
	}

	&::after {
		@include support_bg("../img/separador", "true");
		position: relative;
		z-index: 3;
		content: "";
		width: 6rem;
		height: 4rem;
		margin-inline: auto;
		margin-top: .8rem;
		display: block;
	}
}