@use 'variables' as v;


@mixin boton($bgColor, $colorTexto) {
    width: 100%;
    padding: .8rem 3.2rem;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    text-align: center;
    color: $colorTexto;
    background-color: $bgColor;
    transition-property: background-color;
    transition-duration: .3s;

    @media (min-width: 768px) {
        width: auto;

        &:hover {
            background-color: darken($bgColor, 10%);
        }
    }
}


@mixin suppor_bg($url) {

    $url_jpg: "#{$url}.jpg";
    $url_webp: "#{$url}.webp";
    $url_avif: "#{$url}.avif";

    background-image: url($url_jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @supports (background-image: url($url_webp)) {
        background-image: url($url_webp);
    }

    @supports (background-image: url($url_avif)) {
        background-image: url($url_avif);
    }
}