@forward "./header";
@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  padding: 2.4rem 1rem;

  &__flex {
    @extend .header__flex;
    flex-direction: column-reverse;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
}