@use "../base/variables" as v;
@use "../base/mixins" as m;

.nosotros {
  padding-block: 2.4rem;

  @media (min-width: 768px) {
    padding-block: 4.8rem;
  }

  @media (min-width: 1024px) {
    padding-block: 10rem;
  }

  &__titulo {
    @include m.titulo;

  }

  &__grid {
    display: grid;
    gap: 1.6rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__bloque {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    text-align: center;
  }

  &__img {
    width: 5rem;
    height: 6rem;
    margin-inline: auto;
  }
}